<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="OracleContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=apollo01.glos.ac.uk)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=s1509508;Password=s1509508!" />
</connectionStrings>